<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Highchart</title>
	<script src="https://cdn.bootcss.com/highcharts/6.0.6/highcharts.js"></script>
	<script src="https://cdn.bootcss.com/highcharts/6.0.6/es-modules/modules/exporting.src.js"></script>
	<script src="https://cdn.bootcss.com/highcharts/6.0.6/js/modules/offline-exporting.js"></script>
	<style>
		body{
			overflow:hidden;
		}
		body *{
		-moz-user-select:none; /*火狐*/
		   -webkit-user-select:none;  /*webkit浏览器*/
		   -ms-user-select:none;   /*IE10*/
		   -khtml-user-select:none; /*早期浏览器*/
		   user-select:none;
		}
	</style>
</head>
<body>
	<div id="container" style="max-width:{{$width}}px;height:{{$height}}px"></div>
	<script type="text/javascript">
		var toolkit = {};
		(function (toolkit) {
		    toolkit.addslashes = function (str) {
		        return str.replace(/\\/g, '\\\\').
		            replace(/\u0008/g, '\\b').
		            replace(/\t/g, '\\t').
		            replace(/\n/g, '\\n').
		            replace(/\f/g, '\\f').
		            replace(/\r/g, '\\r').
		            replace(/'/g, '\\\'').
		            replace(/"/g, '\\"');
		    };

		    toolkit.parse = function(str) {
		      return JSON.parse(str, function (k, v) {
		        if (typeof v != 'string') return v;

		        return (v.substring(0, 6) == '__fn__') ?
		        eval('(' + v.replace(/^__fn__/, 'function') + ')') : v;

		      });
		    };

		    toolkit.stringify = function(obj) {
		        return JSON.stringify(obj, function (k, v) {

		          return (typeof v === 'function') ?
		          v.toString().replace(/^function/, '__fn__') : v;

		        });
		    };
		})(toolkit);

		var chart = Highcharts.chart('container', toolkit.parse('{{$chart}}'));
	</script>
</body>

</html>